header{align-items: center; background-color:rgb(0, 0, 0); color:rgb(255, 255, 255);}
header .box_style1 {height:80px}

nav 
{
    width: calc(100% - 212px);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {height:100%}
nav ul li {margin-left:20px; font-size: 30px;}

.box_style1 {max-width:1100px; margin:0 auto; }

#main_section {min-height:calc(100vh - 160px); background-color:#eee;}

footer{background-color:#333; color:#fff;}
footer .box_style1 {height:80px;}

#game_names
{
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;

}
#s_name
{
    font-weight: bold;
    font-size: 30px;
}
#f_line
{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
#s_line
{
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50pt;
}
#sub_gamename
{
    margin-left: 100px;
}
#long_line
{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1pt;
    margin-right: 1pt;
}
.arrow
{
    position: relative;
}
.arrow::after 
{ 
    position: absolute; 
    left: 327px; 
    top: 14px;  
    content: ''; 
    width: 20px; /* 사이즈 */ 
    height: 20px; /* 사이즈 */ 
    border-top: 3px solid #000; /* 선 두께 */
    /*border-right: 3px solid #000; /* 선 두께 */ 
    transform: rotate(403deg); /* 각도 */ 
}
img
{
    width : 320px;
    height: 320px;
}
.img_box
{
    width: 320px;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 5px 5px 5px #000;

}
.img_box img
{
    transition: all 0.2s linear;
}
.img_box:hover img 
{
    transform: scale(1.4);
}
.menu
{
    font-size: 28px;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    
    /*텍스트에서 밑줄 간격 띄우기*/
    padding-bottom: 5px;

    font-family: sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #03c;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.menu:before 
{
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: crimson;
    height: 2px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    left: 50%;
    transform: translateX(-50%) ;
}
.menu:hover:before
{
    width: 100%;
}