#game_t6 #game_start {background:url("/creative/img/p06/bg_img4.png") no-repeat center; background-size:auto 100%;}
#game_t6 #game_start .start_btn {position: absolute; bottom: 60px; left: calc(50% - 150px); background:url("/creative/img/p06/img_7.png") no-repeat center; background-size:100% 100%; width:300px; height:100px; border:0;}

#game_t6 .game_view {height:calc(100% - 80px); width:100%; position:relative;}
#game_t6 #game_play {background-color:#ffdada;}
#game_t6 #game_play .bg_area {position:absolute; left:0; top:20%; width:100%; height:100%; opacity:0.5; background:url(../img/p06/bg_img2.png) center no-repeat; background-size: 100% 100%; z-index:0;}
#game_t6 .game_ctr {position:relative; height:80px; width:calc(100% + 10px); left:-5px; z-index:2;}
#game_t6 .game_ctr li{width:calc(20% - 10px); text-align:center; background-color:#ffc157; padding:15px 5px; border-radius:100%; margin:5px;}
#game_t6 .game_ctr li img {width:100%;}

.burger_area {transform:rotate(0deg); z-index:4; position:absolute; width:100%; bottom:0; right:0%; height:calc(100% - 50px); transition: all .35s linear;}
.burger_area .burger_list {position:absolute; left:0; top:0; height:calc(100% - 60px); width:100%;}
.burger_list li{position:absolute; height:70px; width:100%; background-size:130px !important; bottom:0px; z-index:2;}
.burger_list li div {position:relative; top:0px; width:100%; height:100%; animation-duration: .35s; animation-name: burger_event1;}
.burger_list .burger_t1 div{background:url("../img/p06/img_1_1.png") center no-repeat;}
.burger_list .burger_t2 div{background:url("../img/p06/img_2.png") center no-repeat;}
.burger_list .burger_t3 div{background:url("../img/p06/img_3.png") center no-repeat;}
.burger_list .burger_t4 div{background:url("../img/p06/img_4.png") center no-repeat;}
.burger_list .burger_t5 div{background:url("../img/p06/img_5.png") center no-repeat;}
.burger_list li:nth-child(1).burger_t1 div{background:url("../img/p06/img_1.png") center no-repeat;}

.burger_area .bg_area2 {position:absolute; left:0; bottom:22px; width:100%; z-index:1;}
.burger_area .bg_area2 div.plate {width:300px; height:100px; margin:0 auto; background:url("../img/p06/bg_img1.png") no-repeat center; background-size:100%;}
.burger_area .bg_area2 div.hand {position: absolute; top: 29px; right: calc(-20% - 180px); z-index: 1; width:200px; height:100px; background:url("../img/p06/img_6.png") no-repeat center; background-size: 100%; transform: scaleX(-1); transition: all .35s linear;}

.quest_area {position: absolute; width: 40%; right: 0; top: 0; height: 150px; background: url("../img/p06/bg_img3.png") center no-repeat; background-size: 180%; z-index:2;}
.quest_area p {font-weight:700; font-size:22px;}
.quest_area li div{background-size:80px !important;}

.time_box img {position:relative; width:50px; margin-bottom:10px; z-index:2;}
.time_box .time_bar {position:absolute; top:13px; left:30px; width:120px; height:25px; background:#ccc; border:3px solid #404D58; border-radius:0 10px 10px 0; z-index:1; overflow:hidden;}
.time_bar div {width:100%; height:100%; background-color:yellow;}

@keyframes burger_event1 {
    from {top: -50px;}

    to {top: 0px;}
}